# Folder library
.venv/
__pycache__/

# File rahasia
secrets.toml
.streamlit/secrets.toml

app.py

# File data lokal
keuangan_ramadan.csv
piutang.csv
budget_target.csv
recurring.csv

# Session Recap (History Chat) - Blocked from GitHub
session_recap.md

# Next.js
/node_modules
/.next/
/out/
/build
.env*
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vercel
*.tsbuildinfo
next-env.d.ts